/* * {
    margin-left: 50px;
    margin-right: -50px;
} */

div {
    width: 70%;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
}

a {
    margin: 0;
}

.title, h2 {
    text-align: center;
}

li {
    font-size: 18px;
}

h1 {
    font-size: 30px;
}
h2 {
    font-size: 26px;
}

h2[class] {
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
}

h3 {
    font-size: 20px;
}

p {
    text-align: center;
    font-style: italic;
    font-size: 18px;
}